@import "_important.scss";

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #6d2c96;
}

#formEvent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.input-field input {
  font-family: "sunday", sans-serif;
  border: none;
  border-bottom: rgb(48, 15, 70) solid 3px;
  padding: 5px 20px;
  position: relative;
  text-align: center;
}

.input-field {
  padding: 10px 20px;
}

#cadastrarEventoBtn {
  font-family: "sunday", sans-serif;
  background-color: #fff;
  font-size: 18px;
  margin: 0 100px;
  cursor: pointer;
  border: #6d2c96 solid 3px;
  border-radius: 15px;
  width: 40%;
}

#cadastrarEventoBtn:hover {
  background-color: #e36627;
  color: #fff;
  border-color: #fff;
}

.input-field label {
  font-size: 19px;
  top: 20px;
  color: rgb(48, 15, 70);
}

.input-field input:focus {
  color: #e36627;
}

.endereco-Title {
  font-size: 19px;
  margin-top: 10px;
  color: rgb(48, 15, 70);
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  #formEvent {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  .input-field label,
  input {
    width: 95%;
    margin-top: 20px;
  }

  .endereco-Title {
    display: none;
  }

  #cadastrarEventoBtn {
    margin: auto;
    margin-top: 20px;
    width: 50%;
    height: 4rem;
  }
}
