@import 'important.scss';

$color-purple: #300f46;
$color-purple-logo: #6d2c96;
$color-white: #fff;
$color-orange1: #e36627;
$color-orange2: #c54200;
$color-grey: #38383f;
$color-black: #000;

footer {
  height: 100px;
  font-family: ' Big Noodle Titling', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: $color-purple;
  background-image:
    linear-gradient(
      to right,
      $color-purple-logo,
      $color-purple,
      $color-purple-logo
    );
  color: $color-white;
}

#contact a {
  display: flex;
  flex-direction: column;
  color: $color-white;
  text-decoration: none;
  font-size: 15px;
}

#contact a:hover {
  color: $color-purple;
}

#social-media a {
  margin: 0 10px 0 10px;
  color: $color-white;
}

#social-media a :hover {
  color: $color-purple;
}

@media only screen and (max-width: 1200px) {
  footer {
    flex-direction: column;

    section {
      margin: 30px 0 0 0;
    }
  }
}
