@import '_important.scss';

body {
  //   font-family: sunday;
  overflow-x: hidden;
  background-image: url('../img/bg2.jpg');
  background-image: cover;
}

.containerArquivos {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.arquivos {
  width: 87%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.artistas {
  overflow: scroll;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.774);
  height: 100%;
  width: 100%;
}

.eventos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.774);
}

.titleArtista {
  margin-top: 1rem;
  //   margin: auto;
  text-align: center;
  color: #fff;
  font-size: 4em;
}

.cardArtista {
  border: 5px solid #e36627;
  animation: animateBorder 10s linear infinite;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  padding: 1rem;
  height: 80%;
  width: 80%;
  border-radius: 30px;
  color: aliceblue;
  transition: 0.5s;
  cursor: pointer;
}

.cardArtista:hover {
  border: 5px solid #fff;
  animation: none;
  -webkit-box-shadow: 0 3px 5px 2px rgba(255, 255, 255, 0.603);
  -moz-box-shadow: 0 3px 5px 2px rgba(255, 255, 255, 0.603);
  box-shadow: 0 3px 5px 2px rgba(255, 255, 255, 0.603);
}

.cardArtista .title {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.cardArtista .value {
  font-size: 17px;
  color: #e2e2e2;
}

#Estilo,
#valor {
  font-size: 15px;
}

#NomeArtistico {
  text-align: center;
  font-size: 2.8em;
  color: #fff;

  /* animation: animateTitle linear 10s infinite; */
}

#Nome {
  text-align: center;
  font-size: 1.5em;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #6d2c96;
}

@keyframes animateBorder {
  0% {
    border: 5px solid #e36627;
  }

  60% {
    border: 5px solid #6d2c96;
  }

  100% {
    border: 5px solid #e36627;
  }
}

@keyframes animateTitle {
  0% {
    color: #e36627;
  }

  60% {
    color: #6d2c96;
  }

  100% {
    color: #e36627;
  }
}
