* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  margin-top: 100px;
}

@font-face {
  font-family: sunday;
  src: url('../fonts/SUNDAY  Personal use.ttf');
}

@font-face {
  font-family: Big Noodle Titling;
  src: url('../fonts/big_noodle_titling.ttf');
}

@font-face {
  font-family: muscic;
  src: url('/assets/fonts/AlphaMusicMan.ttf');
}

body {
  font-family: ' Big Noodle Titling', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [2];
  grid-template-columns: repeat(2, 1fr);
  scroll-behavior: smooth;
}

/* CADASTRO GERAL */
.back-inicial {
  position: fixed;
  z-index: 2;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  cursor: pointer;
}

.back-inicial img {
  position: relative;
  height: 100px;
  width: 100px;
}

.back-inicial img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.musico {
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: url(/assets/img/bg-musico.jpeg);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-size: cover;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
  overflow: hidden;
}

.contratante {
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: url(/assets/img/bg-contratanteCadastro.jpg);
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
  overflow: hidden;
}

form {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  background-color: white;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-transition: ease-in 200ms;
  transition: ease-in 200ms;
}

form input {
  margin: 20px 30px 0 30px;
}

.form-active {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.musico-active {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.contratante-active {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.off {
  display: none;
}

.musico:hover {
  -webkit-filter: none;
  filter: none;
}

.contratante:hover {
  -webkit-filter: none;
  filter: none;
}

.title {
  font-family: 'sundday', sans-serif;
  position: relative;
  top: 70px;
  color: #e36627;
  font-size: 3.3rem;
  -webkit-filter: none;
  filter: none;
}

.cadastrador {
  position: relative;
  top: 450px;
  width: 70%;
  height: 10%;
  background: transparent;
  border-radius: 40px;
  border: solid 5px purple;
  cursor: pointer;
  color: #e36627;
  font-size: 1.3em;
  font-weight: bold;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
  padding: 30px;
}

.cadastrador:hover {
  color: #300f46;
  background-color: white;
}

@media screen and (max-width: 900px) {
  .container {
    -ms-grid-columns: 2fr;
    grid-template-columns: 2fr;
  }

  .cadastrador {
    top: 370px;
  }

  .back-inicial {
    top: 0;
    left: 10%;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 2.5em;
  }

  .musico {
    -webkit-filter: none;
    filter: none;
  }

  .contratante {
    -webkit-filter: none;
    filter: none;
  }
}

@media screen and (max-width: 1000px) {
  .form-user {
    position: relative;
  }
}

::-webkit-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

.form-user {
  -webkit-filter: none;
  filter: none;
  height: 100%;
  width: 100%;
  background-image:
    -webkit-gradient(
      linear,
      left top,
      right top,
      from(#300f46),
      to(#e36627)
    );
  background-image: linear-gradient(to right, #300f46, #e36627);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form-user img {
  width: 200px;
  margin-bottom: 30px;
}

.form-user input[type='submit'] {
  text-align: center;
  width: 50%;
  height: 50px;
  background: white;
  color: #300f46;
  background-size: 160%;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  border: none;
  outline: none;
}

.input-field {
  position: relative;
}

.form-user input[type='submit']:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.input-field input {
  position: relative;
  right: 20px;
  width: 100%;
  padding: 6px 0;
  font-size: 13px;
  background: transparent;
  color: #fafafa;
  margin-bottom: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid white;
}

.input-field label {
  font-weight: bold;
  position: absolute;
  top: -6px;
  left: 5px;
  font-size: 18px;
  color: white;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.input-field input:focus ~ label {
  color: #e36627;
}
