* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Cabin', sans-serif;
  background-color: #300f46;
}

.container {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

/* CADASTRO GERAL */
.musico {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(/assets/img/bg-musico.jpeg);
  background-size: cover;
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
  overflow: hidden;
}

.contratante {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(/assets/img/bg-contratanteCadastro.jpg);
  background-size: cover;
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
  overflow: hidden;
}

.musico:hover {
  -webkit-filter: none;
          filter: none;
}

.contratante:hover {
  -webkit-filter: none;
          filter: none;
}

.title {
  position: relative;
  top: 70px;
  color: white;
  font-size: 3rem;
  text-shadow: 0.2em 0.5em 0.1em #e36627, -0.3em 0.1em 0.1em #300f46, 0.4em -0.3em 0.1em aliceblue;
  -webkit-filter: none;
          filter: none;
}

.cadastrador {
  position: relative;
  top: 400px;
  width: 70%;
  height: 10%;
  background: transparent;
  border-radius: 40px;
  border: solid 5px purple;
  cursor: pointer;
  color: #e36627;
  font-size: 1.3em;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

.cadastrador:hover {
  color: white;
  background-color: #e36627;
}

@media screen and (min-width: 900px) {
  .contratante:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .musico:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .container {
    overflow: hidden;
  }
}
