* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: comicsans;
  src: url("../fonts/Comic Sans MS.ttf");
}

@font-face {
  font-family: sunday;
  src: url("../fonts/SUNDAY  Personal use.ttf");
}

@font-face {
  font-family: Big Noodle Titling;
  src: url("../fonts/big_noodle_titling.ttf");
}

#home {
  position: fixed;
  z-index: 6;
  left: 10px;
  top: 10px;
  width: 90px;
  height: 90px;
  cursor: pointer;
  border-radius: 100px;
}

.homebtn {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 100px;
  font-size: 40px;
  color: #e36627;
  cursor: pointer;
  color: #e36627;
  border: solid #7517af 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.homebtn:hover {
  background-color: #e36627;
  color: #fff;
}

.ore {
  background-color: #e36627;
}

.purp {
  background-color: #7517af;
}

.whi {
  background-color: #fff;
}

#pagepiling .section {
  padding: 25px;
}

#pagepiling .section h1 {
  font-size: 6em;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.sec1,
.sec2 {
  color: #fff;
}

.sec1 article {
  width: 70%;
  font-size: 1.3em;
}

.sec2 section {
  text-align: center;
  width: 80%;
  font-size: 3em;
}

.sec2 span {
  font-size: 2em;
}

.sec1 span {
  font-size: 1.5em;
  color: #e36627;
  font-weight: bold;
}
