.modal-container {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-container.ativo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal {
  background: white;
  min-width: 300px;
  padding: 40px;
  border: 10px ridge #fb5;
  -webkit-box-shadow: 0 0 0 10px white;
          box-shadow: 0 0 0 10px white;
  position: relative;
}

@-webkit-keyframes modal {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes modal {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.ativo .modal {
  -webkit-animation: modal 0.3s forwards;
          animation: modal 0.3s forwards;
}

.fechar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid white;
  top: -30px;
  right: -30px;
  position: absolute;
  background: #e54;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  cursor: pointer;
}

.modal label {
  font-family: "IBM Plex Mono", monospace;
  display: block;
  font-weight: bold;
  margin: 1rem 0 0.5rem 0;
}

.modal input {
  width: 100%;
  padding: 0.7rem 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal button[type="submit"] {
  display: block;
  background: #e54;
  border: none;
  border-radius: 4px;
  padding: 0.7rem 2rem;
  font-size: 1rem;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  margin-top: 1rem;
  font-weight: bold;
}
